# Recommending the genre of music based on age and gender of the User using decison tree

In this repo we are going to use machine learning to increase sales by creating a machine learning algorithm to recomment songs to a user in based on the dataset.

This repo is subject to changes

# Import Libraries

In [1]:
import pandas as pd
import numpy as py

# Import the data

In [2]:
#importing a dataset

store = pd.read_csv('music.csv')

In [3]:
store

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

In [4]:
store.shape #check size of the dataset

(18, 3)

In [5]:
store.nunique()

age       13
gender     2
genre      5
dtype: int64

In [6]:
store.isnull() #check for null values

      age  gender  genre
0   False   False  False
1   False   False  False
2   False   False  False
3   False   False  False
4   False   False  False
5   False   False  False
6   False   False  False
7   False   False  False
8   False   False  False
9   False   False  False
10  False   False  False
11  False   False  False
12  False   False  False
13  False   False  False
14  False   False  False
15  False   False  False
16  False   False  False
17  False   False  False

In [7]:
store.describe() # perform statistical calculations on the data

             age     gender
count  18.000000  18.000000
mean   27.944444   0.500000
std     5.127460   0.514496
min    20.000000   0.000000
25%    25.000000   0.000000
50%    28.000000   0.500000
75%    31.000000   1.000000
max    37.000000   1.000000

In [8]:
store.values

array([[20, 1, 'HipHop'],
       [23, 1, 'HipHop'],
       [25, 1, 'HipHop'],
       [26, 1, 'Jazz'],
       [29, 1, 'Jazz'],
       [30, 1, 'Jazz'],
       [31, 1, 'Classical'],
       [33, 1, 'Classical'],
       [37, 1, 'Classical'],
       [20, 0, 'Dance'],
       [21, 0, 'Dance'],
       [25, 0, 'Dance'],
       [26, 0, 'Acoustic'],
       [27, 0, 'Acoustic'],
       [30, 0, 'Acoustic'],
       [31, 0, 'Classical'],
       [34, 0, 'Classical'],
       [35, 0, 'Classical']], dtype=object)

# Machine Learning

split the data set into two separate sets

In [9]:
# create input set

In [10]:
#X is our input dataset 

X = store.drop(columns=['genre'])
X

    age  gender
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

In [11]:
#create output set

In [12]:
# y is our output dataset 
y = store['genre']
y

0        HipHop
1        HipHop
2        HipHop
3          Jazz
4          Jazz
5          Jazz
6     Classical
7     Classical
8     Classical
9         Dance
10        Dance
11        Dance
12     Acoustic
13     Acoustic
14     Acoustic
15    Classical
16    Classical
17    Classical
Name: genre, dtype: object

Next we Build our model using a machine learning algorithm
here we will be using an algorithm called decision tree classifier

In [26]:
from sklearn.tree import DecisionTreeClassifier
import joblib

In [27]:
#create an object called 'model' and set it to a new instance of 'decisontreeclassifier'
model =  DecisionTreeClassifier()#create a model 
#Now we have our model

In [33]:
#next we need to train it so it learns patterns in the data 
#we call model.fit, this method takes two dataset the input set and the output set

model.fit(X, y)

#joblib.dump(model, 'music-recommender.joblib') --#save your model

DecisionTreeClassifier()

In [30]:
#finally we need to ask our model to make a prediction like what is the
#kind of music that a 21 year old male likes 
# so with this assumption lets ask our model to make predictions using a method called model.predict
#and store it in a variable called predictions 
predictions = model.predict([  [21, 1], [22, 0] ])

C:\Users\USER\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [35]:
predictions #see predictions

array(['HipHop', 'Dance'], dtype=object)

In [17]:
store

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

In [18]:
#measure the model accuracy 
#a genral rule of thought is to allocate 70% to 80% of our data for training
#and the remaining 30% t0 20% for testing 
# then instead of passing only two samples for making predictions
#we can pass the dataset we have for testing, we get the 'predictions' and then we can compare these predictions
#with the actual values in the test set 
#based on that we can calculate the accuracy

# Training model and Calculating model accuracy

In [19]:
from sklearn.tree import DecisionTreeClassifier
#we import a model called train_test_split 
from sklearn.model_selection import train_test_split# with this fuction we can easily split our dataset 
# into two set for training and testing 

from sklearn.metrics import accuracy_score

In [20]:
X = store.drop(columns=['genre'])
y = store['genre']
#Now right here after we define X and y we call this function so train_test_split we give it three argument x,y and a 
#keyword argument that specifies the size of ur test dataset 
#Now this fuction returns a tuple so we can unpack it into four variables X_train, X_test, y_train, y_tes
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2) #test_size 20% for test dataset or for testing 
#the first two variables are the input set for training and testing and the other are the output set for training and testing  

model =  DecisionTreeClassifier()
model.fit(X_train, y_train) #when training our model instead of passing the entire dataset we want pass only the train datasets
predictions = model.predict(X_test) #also when making predictions we pass X_test whcih is the dataset that contains input values for testing 
# to calculate the accuracy we compare the 'predicions' we have our output test y_test for testing 

score= accuracy_score(y_test, predictions) #we call this function accuracy score and give it two arguments y_test 
#which contains the expected values and predictions which contains the actual values 

score

1.0

Accuracy ✅